@import '../../Base_Breakpoints/breakpoints.scss';
@import '../spacing.scss';

.d-grid {
  display: grid;
}
.d-flex {
  display: flex;
}
.d-block {
  display: block;
}
.d-inline-block {
  display: inline-block;
}
.d-none {
  display: none;
}

.direction-column {
  flex-direction: column;
}
.direction-column-reverse {
  flex-direction: column;
}
.direction-row-reverse {
  flex-direction: column;
}
.direction-row {
  flex-direction: row;
}

.border-none {
  border-radius: $space-0;
}
.border-xxl {
  border-radius: $space-14;
}
.border-xl {
  border-radius: $space-12;
}
.border-lg {
  border-radius: $space-10;
}
.border-md {
  border-radius: $space-8;
}
.border-sm {
  border-radius: $space-6;
}
.border-xs {
  border-radius: $space-4;
}

.row > * {
  box-sizing: border-box;
  flex-shrink: 0;
}

.col {
  flex: 1 0 0%;
}

.col-auto {
  flex: 0 0 auto;
  width: auto;
}

@for $i from 1 through 12 {
  .col-#{$i} {
    flex: 0 0 auto;
    width: calc(100% / (12 / $i));
  }
}

@media (max-width: $bp-xl) {
  .d-grid-xl {
    display: grid;
  }
  .d-flex-xl {
    display: flex;
  }
  .d-block-xl {
    display: block;
  }
  .d-inline-block-xl {
    display: inline-block;
  }
  .d-none-xl {
    display: none;
  }

  .col-xl {
    flex: 1 0 0%;
  }

  .col-xl-auto {
    flex: 0 0 auto;
    width: auto;
  }

  @for $i from 1 through 12 {
    .col-xl-#{$i} {
      flex: 0 0 auto;
      width: calc(100% / (12 / $i));
    }
  }
}

@media (max-width: $bp-lg) {
  .d-grid-lg {
    display: grid;
  }
  .d-flex-lg {
    display: flex;
  }
  .d-block-lg {
    display: block;
  }
  .d-inline-block-xl {
    display: inline-block;
  }
  .d-none-lg {
    display: none;
  }

  .col-lg {
    flex: 1 0 0%;
  }

  .col-lg-auto {
    flex: 0 0 auto;
    width: auto;
  }

  @for $i from 1 through 12 {
    .col-lg-#{$i} {
      flex: 0 0 auto;
      width: calc(100% / (12 / $i));
    }
  }
}

@media (max-width: $bp-md) {
  .d-grid-md {
    display: grid;
  }
  .d-flex-md {
    display: flex;
  }
  .d-block-md {
    display: block;
  }
  .d-inline-block-md {
    display: inline-block;
  }
  .d-none-md {
    display: none;
  }

  .col-md {
    flex: 1 0 0%;
  }

  .col-md-auto {
    flex: 0 0 auto;
    width: auto;
  }

  @for $i from 1 through 12 {
    .col-md-#{$i} {
      flex: 0 0 auto;
      width: calc(100% / (12 / $i));
    }
  }
}

@media (max-width: $bp-sm) {
  .d-grid-sm {
    display: grid;
  }
  .d-flex-sm {
    display: flex;
  }
  .d-block-sm {
    display: block;
  }
  .d-inline-block-sm {
    display: inline-block;
  }
  .d-none-sm {
    display: none;
  }

  .col-sm {
    flex: 1 0 0%;
  }

  .col-sm-auto {
    flex: 0 0 auto;
    width: auto;
  }

  @for $i from 1 through 12 {
    .col-sm-#{$i} {
      flex: 0 0 auto;
      width: calc(100% / (12 / $i));
    }
  }
}

@media (max-width: $bp-xs) {
  .d-grid-xs {
    display: grid;
  }
  .d-flex-xs {
    display: flex;
  }
  .d-block-xs {
    display: block;
  }
  .d-inline-block-xs {
    display: inline-block;
  }
  .d-none-xs {
    display: none;
  }

  .col-xs {
    flex: 1 0 0%;
  }

  .col-xs-auto {
    flex: 0 0 auto;
    width: auto;
  }

  @for $i from 1 through 12 {
    .col-xs-#{$i} {
      flex: 0 0 auto;
      width: calc(100% / (12 / $i));
    }
  }
}
