@import '../font/montserrat.scss';
@import '../font/roboto.scss';
@import '../../Base_Breakpoints/breakpoints.scss';
@import '../font.scss';
@import '../colors.scss';

.text-xs {
  font-size: $font-size-xs;
}
.text-s {
  font-size: $font-size-s;
}
.text-m {
  font-size: $font-size-m;
}
.text-l {
  font-size: $font-size-l;
}
.text-xl {
  font-size: $font-size-xl;
}
.text-xxl {
  font-size: $font-size-xxl;
}

.font-weight-300 {
  font-weight: $font-weight-300;
}
.font-weight-400 {
  font-weight: $font-weight-400;
}
.font-weight-500 {
  font-weight: $font-weight-500;
}
.font-weight-600 {
  font-weight: $font-weight-600;
}
.font-weight-700 {
  font-weight: $font-weight-700;
}

.bold {
  font-weight: bold;
}
.semi-bold {
  font-weight: 600;
}
.medium {
  font-weight: 500;
}
.regular {
  font-weight: normal;
}

.roboto {
  font-family: Roboto, 'sans-serif';
}

.montserrat {
  font-family: Montserrat, 'sans-serif';
}

.h1 {
  &.roboto {
    @extend .roboto;
  }
  &.montserrat {
    @extend .montserrat;
  }
  font-size: $desktop-h1;
  line-height: $desktop-line-h-h1;
  @media screen and (max-width: $bp-m) {
    & {
      font-size: $tablet-h1;
      line-height: $tablet-line-h-h1;
    }
  }

  @media screen and (max-width: $bp-s) {
    & {
      font-size: $mobile-h1;
      line-height: $mobile-line-h-h1;
    }
  }
}

.h2 {
  &.roboto {
    @extend .roboto;
  }
  &.montserrat {
    @extend .montserrat;
  }
  font-size: $desktop-h2;
  line-height: $desktop-line-h-h2;
  @media screen and (max-width: $bp-m) {
    & {
      font-size: $tablet-h2;
      line-height: $tablet-line-h-h2;
    }
  }

  @media screen and (max-width: $bp-s) {
    & {
      font-size: $mobile-h2;
      line-height: $mobile-line-h-h2;
    }
  }
}

.h3 {
  &.roboto {
    @extend .roboto;
  }
  &.montserrat {
    @extend .montserrat;
  }
  font-size: $desktop-h3;
  line-height: $desktop-line-h-h3;
  @media screen and (max-width: $bp-m) {
    & {
      font-size: $tablet-h3;
      line-height: $tablet-line-h-h3;
    }
  }

  @media screen and (max-width: $bp-s) {
    & {
      font-size: $mobile-h3;
      line-height: $mobile-line-h-h3;
    }
  }
}

.h4 {
  &.roboto {
    @extend .roboto;
  }
  &.montserrat {
    @extend .montserrat;
  }
  font-size: $desktop-h4;
  line-height: $desktop-line-h-h4;
  @media screen and (max-width: $bp-m) {
    & {
      font-size: $tablet-h4;
      line-height: $tablet-line-h-h4;
    }
  }

  @media screen and (max-width: $bp-s) {
    & {
      font-size: $mobile-h4;
      line-height: $mobile-line-h-h4;
    }
  }
}

.h5 {
  &.roboto {
    @extend .roboto;
  }
  &.montserrat {
    @extend .montserrat;
  }
  font-size: $desktop-h5;
  line-height: $desktop-line-h-h5;
  @media screen and (max-width: $bp-m) {
    & {
      font-size: $tablet-h5;
      line-height: $tablet-line-h-h5;
    }
  }

  @media screen and (max-width: $bp-s) {
    & {
      font-size: $mobile-h5;
      line-height: $mobile-line-h-h5;
    }
  }
}

.h6 {
  &.roboto {
    @extend .roboto;
  }
  &.montserrat {
    @extend .montserrat;
  }
  font-size: $desktop-h6;
  line-height: $desktop-line-h-h6;
  @media screen and (max-width: $bp-m) {
    & {
      font-size: $tablet-h6;
      line-height: $tablet-line-h-h6;
    }
  }

  @media screen and (max-width: $bp-s) {
    & {
      font-size: $mobile-h6;
      line-height: $mobile-line-h-h6;
    }
  }
}

.h7 {
  &.roboto {
    @extend .roboto;
  }
  &.montserrat {
    @extend .montserrat;
  }
  @extend .bold;
  font-size: $desktop-h7;
  line-height: $desktop-line-h-h7;
  @media screen and (max-width: $bp-m) {
    & {
      font-size: $tablet-h7;
      line-height: $tablet-line-h-h7;
    }
  }
  @media screen and (max-width: $bp-s) {
    & {
      font-size: $mobile-h7;
      line-height: $mobile-line-h-h7;
    }
  }
}

.body {
  &.roboto {
    @extend .roboto;
  }
  &.montserrat {
    @extend .montserrat;
  }
  font-size: $desktop-paragraph;
  line-height: $desktop-line-h-paragraph;
  @media screen and (max-width: $bp-m) {
    & {
      font-size: $tablet-paragraph;
      line-height: $tablet-line-h-paragraph;
    }
  }

  @media screen and (max-width: $bp-s) {
    & {
      font-size: $mobile-paragraph;
      line-height: $mobile-line-h-paragraph;
    }
  }
}

.small {
  &.roboto {
    @extend .roboto;
  }
  &.montserrat {
    @extend .montserrat;
  }
  font-size: $desktop-small;
  line-height: $desktop-line-h-small;
  @media screen and (max-width: $bp-m) {
    & {
      font-size: $tablet-small;
      line-height: $tablet-line-h-small;
    }
  }

  @media screen and (max-width: $bp-s) {
    & {
      font-size: $mobile-small;
      line-height: $mobile-line-h-small;
    }
  }
}

.subtitle {
  &.roboto {
    @extend .roboto;
  }
  &.montserrat {
    @extend .montserrat;
  }
  font-size: $desktop-subtitle;
  line-height: $desktop-line-h-subtitle;
  @media screen and (max-width: $bp-m) {
    & {
      font-size: $tablet-subtitle;
      line-height: $tablet-line-h-subtitle;
    }
  }

  @media screen and (max-width: $bp-s) {
    & {
      font-size: $mobile-subtitle;
      line-height: $mobile-line-h-subtitle;
    }
  }
}

.caption {
  &.roboto {
    @extend .roboto;
  }
  &.montserrat {
    @extend .montserrat;
  }
  font-size: $desktop-caption;
  line-height: $desktop-line-h-caption;
  @media screen and (max-width: $bp-m) {
    & {
      font-size: $tablet-caption;
      line-height: $tablet-line-h-caption;
    }
  }

  @media screen and (max-width: $bp-s) {
    & {
      font-size: $mobile-caption;
      line-height: $mobile-line-h-caption;
    }
  }
}

.underline {
  text-decoration: underline;
}

.link {
  @extend .body;
  cursor: pointer;
  display: inline;
}

.truncated {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
