/* Thin */
@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 100;
  font-display: swap;
  src: url(/assets/fonts/montserrat/ThinItalic.ttf) format('ttf');
}

@font-face {
  font-family: 'Montserrat';
  font-weight: 100;
  font-display: swap;
  src: url(/assets/fonts/montserrat/Thin.ttf) format('ttf');
}

/* ExtraLight */
@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 200;
  font-display: swap;
  src: url(/assets/fonts/montserrat/ExtraLightItalic.ttf) format('ttf');
}

@font-face {
  font-family: 'Montserrat';
  font-weight: 200;
  font-display: swap;
  src: url(/assets/fonts/montserrat/ExtraLight.ttf) format('ttf');
}

/* Light */
@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: url(/assets/fonts/montserrat/LightItalic.ttf) format('ttf');
}

@font-face {
  font-family: 'Montserrat';
  font-weight: 300;
  font-display: swap;
  src: url(/assets/fonts/montserrat/Light.ttf) format('ttf');
}

/* Regular */
@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(/assets/fonts/montserrat/Italic.ttf) format('ttf');
}

@font-face {
  font-family: 'Montserrat';
  font-weight: 400;
  font-display: swap;
  src: url(/assets/fonts/montserrat/Regular.ttf) format('ttf');
}

/* Medium */
@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: url(/assets/fonts/montserrat/MediumItalic.ttf) format('ttf');
}

@font-face {
  font-family: 'Montserrat';
  font-weight: 500;
  font-display: swap;
  src: url(/assets/fonts/montserrat/Medium.ttf) format('ttf');
}

/* Bold */
@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url(/assets/fonts/montserrat/BoldItalic.ttf) format('ttf');
}

@font-face {
  font-family: 'Montserrat';
  font-weight: 700;
  font-display: swap;
  src: url(/assets/fonts/montserrat/Bold.ttf) format('ttf');
}

/* Black */
@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 900;
  font-display: swap;
  src: url(/assets/fonts/montserrat/BlackItalic.ttf) format('ttf');
}

@font-face {
  font-family: 'Montserrat';
  font-weight: 900;
  font-display: swap;
  src: url(/assets/fonts/montserrat/Black.ttf) format('ttf');
}
