$font-path: '/assets/fonts/montserrat';

@mixin font-face($font-filename, $font-weight, $font-style: normal) {
  @font-face {
    font-family: 'Montserrat';
    font-weight: $font-weight;
    font-style: $font-style;
    font-display: swap;
    src: url('#{$font-path}/#{$font-filename}.ttf') format('truetype');
  }
}

// Montserrat Thin
@include font-face('ThinItalic', 100, italic);
@include font-face('Thin', 100);

// Montserrat ExtraLight
@include font-face('ExtraLightItalic', 200, italic);
@include font-face('ExtraLight', 200);

// Montserrat Light
@include font-face('LightItalic', 300, italic);
@include font-face('Light', 300);

// Montserrat Regular
@include font-face('Italic', 400, italic);
@include font-face('Regular', 400);

// Montserrat Medium
@include font-face('MediumItalic', 500, italic);
@include font-face('Medium', 500);

// Montserrat Bold
@include font-face('BoldItalic', 700, italic);
@include font-face('Bold', 700);

// Montserrat Black
@include font-face('BlackItalic', 900, italic);
@include font-face('Black', 900);
