/* Thin */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 100;
  font-display: swap;
  src: url(../../assets/fonts/roboto/ThinItalic.ttf) format('ttf');
}

@font-face {
  font-family: 'Roboto';
  font-weight: 100;
  font-display: swap;
  src: url(../../assets/fonts/roboto/Thin.ttf) format('ttf');
}

/* Light */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: url(../../assets/fonts/roboto/LightItalic.ttf) format('ttf');
}

@font-face {
  font-family: 'Roboto';
  font-weight: 300;
  font-display: swap;
  src: url(../../assets/fonts/roboto/Light.ttf) format('ttf');
}

/* Regular */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(../../assets/fonts/roboto/Italic.ttf) format('ttf');
}

@font-face {
  font-family: 'Roboto';
  font-weight: 400;
  font-display: swap;
  src: url(../../assets/fonts/roboto/Regular.ttf) format('ttf');
}

/* Medium */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: url(../../assets/fonts/roboto/MediumItalic.ttf) format('ttf');
}

@font-face {
  font-family: 'Roboto';
  font-weight: 500;
  font-display: swap;
  src: url(../../assets/fonts/roboto/Medium.ttf) format('ttf');
}

/* Bold */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url(../../assets/fonts/roboto/BoldItalic.ttf) format('ttf');
}

@font-face {
  font-family: 'Roboto';
  font-weight: 700;
  font-display: swap;
  src: url(../../assets/fonts/roboto/Bold.ttf) format('ttf');
}

/* Black */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 900;
  font-display: swap;
  src: url(../../assets/fonts/roboto/BlackItalic.ttf) format('ttf');
}

@font-face {
  font-family: 'Roboto';
  font-weight: 900;
  font-display: swap;
  src: url(../../assets/fonts/roboto/Black.ttf) format('ttf');
}
