@import '../../common/Base_Themes/colors.scss';
@import '../../common/Base_Themes/spacing.scss';

.button {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: $space-8;
  padding: $space-8 $space-16;
  border-radius: $space-8;
  border: solid 1px $brand-nebula-blue;
  background-color: white;

  .active {
    background-color: $brand-nebula-blue-shades;
  }

  .count {
    width: 24px;
    height: 24px;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    background-color: $brand-nebula-blue;
    color: white;
    font-size: 12px;
  }

  .label {
    padding: 0;
    margin: 0;
    font-size: 14px;
    color: $brand-nebula-blue;
    font-weight: bold;
  }
}

.button-right {
  flex-direction: row-reverse;
}

.button-left {
  flex-direction: row;
}
