@import '../priority-level.scss';

.priority-major{ z-index: $priority-major !important; }
.priority-high{ z-index: $priority-high !important; }
.priority-medium{ z-index: $priority-medium !important; }
.priority-low{ z-index: $priority-low !important; }
.priority-very-low{ z-index: $priority-very-low !important; }