@import '../../Base_Breakpoints/breakpoints.scss';
@import '../../Base_Themes/colors.scss';

.tab {
  cursor: pointer;
  display: flex;
}

.left-rectangle {
  position: absolute;
  left: 0;
}

.right-rectangle {
  width: 34px;
  height: 42px;
  position: fixed;
  right: 0;
}

.tabs-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.tabs {
  display: flex;
  gap: 16px;
  padding: 1px;
  white-space: nowrap;
  overflow-x: scroll;
  overflow-y: hidden;
  scrollbar-width: none;
  -ms-overflow-style: none;
  position: relative;
}

.tabs::-webkit-scrollbar {
  display: none;
}
