@import '../../Base_Themes/index.scss';

.avatar{
    padding: $space-8;
    width: fit-content;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    &.avatar-circle{
        min-width: $space-22; 
        min-height: $space-22; 
        border-radius: 50%;
    }

    &.avatar-error{ @extend .bg-error, .text-white; }
    &.avatar-black{  @extend .bg-black, .text-white; }
    &.avatar-supernova{ @extend .bg-supernova, .text-black; }
    &.avatar-nebula-blue{ @extend .bg-nebula-blue, .text-white; }
    &.avatar-cobalt{ @extend .bg-cobalt, .text-white; }
    &.avatar-comet{ @extend .bg-comet, .text-white; }
    &.avatar-white{ @extend .bg-white, .text-black; }
}