@import '../../Base_Themes/index.scss';

.label {
  padding: 12px;
  width: fit-content;
  border-radius: 8px;

  &.label-icon {
    width: 16px;
    height: 16px;
    margin-right: 8px;
  }

  &.label-default {
    @extend .bg-lighter, .text-black, .border-info-dark;
  }

  &.label-info-nebula {
    @extend .bg-nebula-blue-shades, .text-nebula-blue, .border-nebula-blue;
  }

  &.label-info {
    @extend .bg-info-light, .text-info-dark, .border-info-dark;
  }

  &.label-error {
    @extend .bg-error-light, .text-error-dark, .border-error-dark;
  }

  &.alert-warning {
    @extend .bg-alert-light, .text-alert-dark, .border-alert-dark;
  }

  &.label-success {
    @extend .bg-success-light, .text-success-dark, .border-success-dark;
  }
}
