@import '../../Base_Themes/index.scss';

$decoration-size: 6px;

.alert{
    padding: 16px;
    
    &.alert-center{ align-items: center; }
    &.alert-bottom{ align-items: flex-end; }
    &.alert-bordered{ border: 1px solid; }

    &.alert-decorated-left{ border-left: $decoration-size solid; }
    &.alert-decorated-top{ border-top: $decoration-size solid; }
    &.alert-decorated-bottom{ border-bottom: $decoration-size solid; }
    &.alert-decorated-right{ border-right: $decoration-size solid; }

    &.alert-info-nebula{
        @extend .bg-nebula-blue-shades, .text-nebula-blue, .border-nebula-blue;
    }

    &.alert-info{
        @extend .bg-info-light, .text-info-dark, .border-info-dark;
    }

    &.alert-error{
        @extend .bg-error-light, .text-error-dark, .border-error-dark;
    }

    &.alert-warning{
        @extend .bg-alert-light, .text-alert-dark, .border-alert-dark;
    }

    &.alert-success{
        @extend .bg-success-light, .text-success-dark, .border-success-dark;
    }
}