@import '../../Base_Themes/index.scss';

.stepper{
    width: max-content;
    .text{
        text-align: right !important;
        width: 100%;
        font-size: $space-12;
        position: relative;
        top: $space-2;
    }
    .step{
        .branch:not(.first){
            width: $space-4;
            height: $space-20;
            background-color: $disabled-light;
        }
        
        .circle{
            min-width: $space-14;
            min-height: $space-14;
            border-radius: 50%;
            background-color: $disabled-light;
            display: flex;
        }

        .circle::after{
            content: ' ';
            display: block;
            width: $space-4;
            height: $space-4;
            border-radius: 50%;
            background-color: $disabled-light;
        }
    }

    &.danger .step.active{
        .circle{background-color: $danger-light; }
        .circle::after{ background-color: $neutral-white; }
        .branch{ background-color: $danger-light; }
    }

    &.supernova .step.active{
        .circle{background-color: $brand-supernova; }
        .circle::after{ background-color: $neutral-darkest; }
        .branch{ background-color: $brand-supernova; }
    }

    &.cobalt .step.active{
        .circle{background-color: $brand-cobalt; }
        .circle::after{ background-color: $neutral-white; }
        .branch{ background-color: $brand-cobalt; }
    }

    &.comet .step.active{
        .circle{background-color: $brand-comet; }
        .circle::after{ background-color: $neutral-white; }
        .branch{ background-color: $brand-comet; }
    }

    &.nebula-blue .step.active{
        .circle{background-color: $brand-nebula-blue; }
        .circle::after{ background-color: $neutral-white; }
        .branch{ background-color: $brand-nebula-blue; }
    }

    &.black .step.active{
        .circle{background-color: $black-dark; }
        .circle::after{ background-color: $neutral-white; }
        .branch{ background-color: $black-dark; }
    }

    &.white .step.active{
        .circle{background-color: $neutral-white; }
        .circle::after{ background-color: $black-dark; }
        .branch{ background-color: $neutral-white; }
    }

}
